<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--    静态页面-->
    <h1>我在学习flask</h1>
<!--    接受到变量-->
    <div>{{jay}}</div>
<!--    接受到列表-->
    <ul>
        {% for k,v in user_dict.items() %}
            <li>{{v.type}}<a href="/detail?uid={{k}}">查看详细</a></li>
        {% endfor %}
    </ul>


</body>
</html>